<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="truststyle.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

    <title>Document</title>
   
</head>
<body>
    <header class="header">
      <nav>
        <div class="menu">
          <div class="logo">
            <a href="#">RATNA CHARITABLE TRUST</a>
          </div>
          <ul>
            <li><a href="trust.html">Home</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="admin.html">Admin</a></li>
            <li><a href="feedback.html">Feedback</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="grid1">
      <div class="para1">
        <h2>
          Lorem ipsum dolor sit amet conse
        </h2>
        <p>
          Lorem ipsum dolor sit Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus accusamus consequuntur veniam cum tempora quam aspernatur recusandae inventore non minus, similique, porro modi nobis omnis, asperiores vero? Maiores id iste quos quaerat dignissimos corrupti cupiditate?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eligendi reprehenderit voluptates sed ipsa maxime iure quisquam quam doloribus impedit, explicabo aut magni corporis harum ratione, cum laudantium velit sapiente tempore animi ipsam, deserunt vel eaque quas! At, repudiandae voluptatibus nulla consequuntur fuga inventore, repellat aspernatur nihil vel nemo nobis?
        </p>
       
        <a href="make_donation.html" class="btn " >Make a Donation</a>
      </div>
      <div class="image1">
        <img src="download.jpg" alt="" height=400px/>
      </div>
    </div>

    <div class="grid2">
        <div class="image2">
            <img src="download (1).jpg" alt="" height=400px/>
          </div>
        <div class="para2">
          <h2>
            Contribute your knowledge
          </h2>
          <p>
            BOOKS you try to get rid of can be a silver lining foer someone __________________________minus, similique, porro modi nobis omnis, asperiores vero? Maiores id iste quos quaerat dignissimos corrupti cupiditate?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eligendi reprehenderit voluptates sed ipsa maxime iure quisquam quam doloribus impedit, explicabo aut magni corporis harum ratione, cum laudantium velit sapiente tempore animi ipsam, deserunt vel eaque quas! At, repudiandae voluptatibus nulla consequuntur fuga inventore, repellat aspernatur nihil vel nemo nobis?
          </p>
          <a class="btn " href="#">Contribute</a>
        </div>
        
    </div>
    <div class="grid3">
        <div class="para3">
          <h2>
            Smile is Important
          </h2>
          <p>
            Opportunity comes in life once in a lifetime __________consectetur adipisicing elit. Natus accusamus consequuntur veniam cum tempora quam aspernatur recusandae inventore non minus, similique, porro modi nobis omnis, asperiores vero? Maiores id iste quos quaerat dignissimos corrupti cupiditate?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eligendi reprehenderit voluptates sed ipsa maxime iure quisquam quam doloribus impedit, explicabo aut magni corporis harum ratione, cum laudantium velit sapiente tempore animi ipsam, deserunt vel eaque quas! At, repudiandae voluptatibus nulla consequuntur fuga inventore, repellat aspernatur nihil vel nemo nobis?
          </p>
          <a class="btn " href="#">Smile</a>
        </div>
    
        <div class="image3">
          <img src="smile.jpg" alt="" height=400px/>
        </div>
    </div>

    <div class="grid4">
        <div class="image2">
            <img src="library.jpg" alt="" height=300px/>
        </div>
        <div class="para4">
          <h2>
            Contribute your knowledge
          </h2>
          <p>
            BOOKS you try to get rid of can be a silver lining foer someone __________________________minus, similique, porro modi nobis omnis, asperiores vero? Maiores id iste quos quaerat dignissimos corrupti cupiditate?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eligendi reprehenderit voluptates sed ipsa maxime iure quisquam quam doloribus impedit, explicabo aut magni corporis harum ratione, cum laudantium velit sapiente tempore animi ipsam, deserunt vel eaque quas! At, repudiandae voluptatibus nulla consequuntur fuga inventore, repellat aspernatur nihil vel nemo nobis?
          </p>
          <a class="btn " href="#">Contribute</a>
        </div>
    </div>
    <div class="grid5">
        <div class="p1">
            <p >
                <h3>
                    Problem Statement
                </h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nobis repudiandae quas autem ab molestias?
            </p>
        </div>
        <div class="p1">
            <p >
                <h3>
                   Solution
                </h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nobis repudiandae quas autem ab molestias?
            </p>
        </div>
        <div class="p1">
           
            <p >
                <h3>
                    Features
                </h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nobis repudiandae quas autem ab molestias?
            </p>
        </div>
    </div>
  
  </body>
</html>
